/* stable5 fixes */

#music-user .info, #music-user .warning {
	text-shadow: white 0 0 0;
	font-weight: normal;
}

#music-user .warning a {
	font-weight: bold;
}

/* icon backports */
[class^="icon-"], [class*=" icon-"] {
	background-repeat: no-repeat;
	background-position: center;
}
.icon-delete {
	background-image: url('../img/stable5/actions-delete.svg');
}
.icon-delete:hover,
.icon-delete:focus {
	background-image: url('../img/stable5/actions-delete-hover.svg');
}
.icon-loading-small {
	background-image: url('../img/stable5/loading-small.gif');
}
