/* stable5 fixes */
#content * {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* end stable5 fixes */

#notification a {
	text-decoration: underline;
}

#app-content {
	overflow-y:auto;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	height: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
}

#app-content.started {
	top: 65px;
}

.play {
	display: none;
	/* opacity */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity = 70);
	opacity: .7;
}

.artist-area {
	padding-top: 50px;
}

.artist-area > h1 {
	font-size: 42px;
	height: 32px;
	margin-left: 28px;
}

.artist-area > h1:hover > span {
	cursor: pointer;
}

.artist-area > h1:hover > .play {
	display: inline;
	margin-bottom: 2px;
	cursor: pointer;
	width: 16px;
	height: 16px;
	-webkit-transition: ease-in 250ms;
	-moz-transition: ease-in 250ms;
	-o-transition: ease-in 250ms;
	transition: ease-in 250ms;
}

.artist-area > h1:hover > .play {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.artist-area > h1:hover > .play.opened {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.artist-area > h1:hover > .play:hover {
	-webkit-transform: rotate(0);
	-moz-transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}

.albums-area {
	-webkit-transition: ease-in 250ms;
	-moz-transition: ease-in 250ms;
	-o-transition: ease-in 250ms;
	transition: ease-in 250ms;
}

.albums-area.ng-hide-add, .albums-area.ng-hide-remove {
	display: block !important;
}

.albums-area.ng-hide-remove, .albums-area.ng-hide-add.ng-hide-add-active{
	opacity: 0;
	height: 0;
	overflow: hidden;
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-o-transform: scale(0.1);
	transform: scale(0.1);
}

.albums-area.ng-hide-remove.ng-hide-remove-active, .albums-area.ng-hide-add {
	opacity: 1;
	height: 260px;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.album-area {
	padding: 14px 28px;
	width: 480px;
	display: inline-block;
	vertical-align: top;
}

.album-area > h2 {
	font-size: 21px;
	padding-bottom: 21px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.album-area > h2:hover {
	cursor: pointer;
}

.albumart {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.album-area > .albumart,
.album-area > img {
	float: left;
	width: 190px;
	height: 190px;
	line-height: 190px;
	font-size: 105px;
}

.album-area > img.overlay {
	margin-left: -190px;
	padding: 46px;
}

.album-area:hover > img.overlay {
	display: inline;
	cursor: pointer;
}

.track-list {
	margin-left: 195px;
}

.track-list > li {
	padding-left: 21px;
	padding-bottom: 11px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.track-list > li > .play.playing,
.track-list > li:hover > .play {
	display: inline;
	height: 10px;
	margin-left: -20px;
	margin-right: 6px;
	cursor: pointer;
}

.muted {
	/* opacity */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity = 50);
	opacity: .5;
}

#emptystate {
	padding: 140px 0 0 140px;
	height: 100%;
	width: 100%;
	font-size: 21px;
	font-weight: bold;
	color: #888;
	text-shadow: #fff 0 1px 0;

}
.alphabet-navigation {
	z-index: 5;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50px;
	text-align: center;
}

.alphabet-navigation a {
	display: block;
	font-weight: bold;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity = 10);
	opacity: .1;
}

.alphabet-navigation a.available {
	display: block;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity = 40);
	opacity: .4;
}

.alphabet-navigation a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity = 80);
	opacity: .8;
}
