#app-content {
	overflow-y:auto;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/* transistion to move down*/
	-webkit-transition: padding 500ms;
	-moz-transition: padding 500ms;
	-o-transition: padding 500ms;
	transition: padding 500ms;
}

#app-content.started {
	padding-top: 66px;
}

.play {
	display: none;
	/* opacity */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity = 70);
	opacity: .7;
}

.artist-area {
	padding: 28px 0;
	clear: both;
}

.artist-area > h1 {
	font-size: 42px;
	height: 32px;
	margin-left: 28px;
}

.artist-area > h1:hover {
	cursor: pointer;
}

.artist-area > h1:hover > .play {
	display: inline;
	margin-bottom: 2px;
	cursor: pointer;
}

.album-area {
	padding: 28px;
	width: 480px;
	float: left;
}

.album-area > h2 {
	font-size: 21px;
	padding-bottom: 21px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.album-area > h2:hover {
	cursor: pointer;
}

.album-area > .albumart, .album-area > img {
	float: left;
	width: 182px;
	height: 182px;
}

.album-area > img.overlay {
	margin-left: -182px;
	width: 182px;
	height: 182px;
	padding: 42px;
}

.album-area:hover > img.overlay {
	display: inline;
	cursor: pointer;
}

.track-list {
	margin-left: 195px;
}

.track-list > li {
	padding-left: 21px;
	padding-bottom: 11px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.track-list > li:hover > .play {
	display: inline;
	height: 10px;
	margin-left: -20px;
	margin-right: 6px;
	cursor: pointer;
}

.muted {
	/* opacity */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity = 50);
	opacity: .5;
}

#emptystate {
	position: absolute;
	padding: 140px 0 0 140px;
	height: 100%;
	width: 100%;
	font-size: 21px;
	font-weight: bold;
	color: #888;
	text-shadow: #fff 0 1px 0;
}
