//// main ///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////

#app-content {
  padding-top: $navbar-height;
  padding-bottom: $navbar-height;
}

.navbar.interpret
{
  color: $navbar-text-color;

  background-color: transparentize($oc-primary-color, 0.1);
  border: none;

  height: $navbar-height;

  .btn
  {
    line-height: $navbar-height;
    
    background-color: transparent;
    border: none;
    box-shadow: none;

    height: $navbar-height;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
  }

  .navbar-text
  {
    color: $navbar-text-color;
  }
}

.list-group.interpret-list
{
  margin: 0;

  .list-group-item
  {
    border-left: none;
    border-right: none;

    &:first-child
    {
      border-top: none;
    }

    &:last-child
    {
      border-bottom: none;
    }
  }
}

.list-group.interpret-detail-list
{
  margin: 0;
}

//// animation //////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////


//Animation-goes-left

.animation-goes-left.ng-enter, .animation-goes-left.ng-leave {
  -webkit-transition:all linear 0.3s;
  position: absolute;
}

.animation-goes-left.ng-enter {
  left: 100% !important;
  right: auto !important;

  &.ng-enter-active {
    left: 0 !important;
    right: auto !important;
  }
}

.animation-goes-left.ng-leave {
  left: 0 !important;
  right: auto !important;
  
  &.ng-leave-active {
    left: -100% !important;
    right: auto !important;
  }
}

//Animation-goes-right

.animation-goes-right.ng-enter, .animation-goes-right.ng-leave {
  -webkit-transition:all linear 0.3s;
  position: absolute;
}

.animation-goes-right.ng-enter {
  left: -100% !important;
  right: auto !important;

  &.ng-enter-active {
    left: 0 !important;
    right: auto !important;
  }
}

.animation-goes-right.ng-leave {
  left: 0 !important;
  right: auto !important;
  
  &.ng-leave-active {
    left: 100% !important;
    right: auto !important;
  }
}