//// main ///////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////

#app-content {
  padding-top: $navbar-height;
  padding-bottom: $navbar-height;
}

.navbar.interpret
{
  color: $navbar-text-color;

  background-color: transparentize($oc-primary-color, 0.1);
  border: none;

  height: $navbar-height;
  margin: 0;

  .btn.playing-btn
  {
    display: block;
    line-height: 13px;
    font-size: 10px;
    text-align: right;


    height: 25px;

    img
    {
      vertical-align: middle;
      float: right;
    }

    span
    { 
      padding-right: 3px;
      margin-top: 13px;
      float: right;
    }
  }

  .btn
  {
    line-height: $navbar-height;
    
    background-color: transparent;
    border: none;
    box-shadow: none;

    height: $navbar-height;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
  }

  .navbar-text
  {
    color: $navbar-text-color;
    display: block;
    text-align: center;
    float: none !important;
  }
}

.list-group.interpret-list
{
  margin: 0;

  .list-group-item
  {
    border-left: none;
    border-right: none;

    cursor: pointer;

    &:hover
    {
      background-color: lighten($secondary-color, 40%);
    }

    &:first-child
    {
      border-top: none;
    }

    &:last-child
    {
      border-bottom: none;
    }
  }
}


//// details ////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////

.list-group.interpret-detail-list
{
  margin: 0;

  .list-group-item.list-group-item-info
  {
    color: #fff;

    background-color: darken($secondary-color, 20%);
    cursor: default;

    padding: 5px 15px;
    border: none;

    &:hover
    {
      background-color: darken($secondary-color, 20%);
    }

    .list-group-item-heading
    {
      margin-bottom: 0;
    }
  }

  .list-group-item
  {
    border-width: 0 0 1px 0;

    max-width: 100%;
    cursor: pointer;

    padding-left: 30px;
    margin-bottom: 0;

    span
    {
      cursor: pointer;
    }

    &:hover
    {
      background-color: lighten($secondary-color, 40%);
    }

    &:last-child
    {
      border-bottom: none;
    }
  }
}


//// navbar ////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////


//// playing ////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////


.playing-btn
{
  line-height: 50px;
  text-align: center;

  height: 40px;
  width: auto;

  padding-top: 10px;
}

.toggle-btn
{
  line-height: 50px;
  text-align: center;

  opacity: 0.3;
  height: 40px;
  width: auto;

  padding-top: 10px;

  &.active
  {
    opacity: 1;
  }
}

.playinginfo
{
  color: $oc-primary-color;
}

img.img-responsive.playing-cover
{
  max-height: 400px;
}

path { fill: yellow; }


//// animation //////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////


//Animation-goes-left

.animation-goes-left.ng-enter, .animation-goes-left.ng-leave {
  -webkit-transition:all linear 0.3s;
  position: absolute;
}

.animation-goes-left.ng-enter {
  left: 100% !important;
  right: auto !important;

  &.ng-enter-active {
    left: 0 !important;
    right: auto !important;
  }
}

.animation-goes-left.ng-leave {
  left: 0 !important;
  right: auto !important;
  
  &.ng-leave-active {
    left: -100% !important;
    right: auto !important;
  }
}

//Animation-goes-right

.animation-goes-right.ng-enter, .animation-goes-right.ng-leave {
  -webkit-transition:all linear 0.3s;
  position: absolute;
}

.animation-goes-right.ng-enter {
  left: -100% !important;
  right: auto !important;

  &.ng-enter-active {
    left: 0 !important;
    right: auto !important;
  }
}

.animation-goes-right.ng-leave {
  left: 0 !important;
  right: auto !important;
  
  &.ng-leave-active {
    left: 100% !important;
    right: auto !important;
  }
}