<?php

$config = new OC\CodingStandard\Config();

$config
    ->setUsingCache(true)
    ->getFinder()
    ->exclude('3rdparty')
    ->exclude('build')
    ->exclude('vendor')
    ->in(__DIR__);

return $config;
