parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    paths:
        - lib
    scanDirectories:
        - vendor/nextcloud/ocp
        - stubs
        - 3rdparty
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        - '#Property [a-zA-Z0-9\\_]+::\$logger is never read, only written.#'
