
default:
    suites:
        Ampache:
            paths:
                - features/Ampache
            contexts:
                - AmpacheContext:
                    baseUrl: http://cloud_instance_path/index.php
                    username: UserName
                    password: MyAmpacheAPIPassword
        Subsonic:
            paths:
                - features/Subsonic
            contexts:
                - SubsonicContext:
                    baseUrl: http://cloud_instance_path/index.php
                    username: UserName
                    password: MySubsonicAPIPassword