
default:
    suites:
        default:
            contexts:
                - FeatureContext:
                    baseUrl: http://urlpath/index.php/apps/music/ampache/server/xml.server.php
                    username: UserName
                    password: MyAmpacheAPIPassword
